/* UNIVERSAL STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    min-height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

/* SETS STYLING FOR ENTIRE COMPONENT */


/* STYLING FOR REVIEWER IMAGE AND DETAILS */

.verified {
    color: #2E7D32;
}

.unverified {
    color: red;
}

.stars {
    color: #F9A825;
}

.for {
    margin-bottom: 16px;
}

.quimbee {
    font-weight: 600;
}

.days {
    color: #535358;
}
